body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  
}
nav a{
  padding: 10px;
  font-size:small;
  background-color: grey;
}

#intro{
  width: 50%;
  height: 50%;

}

#featured-property{
  padding-left: 30%;
  padding-right: 30%;

}
#details{
  
  background-color: red;

}
#details div {
  display:inline-block;
  padding-right: 10%;

}
